.footer-container {
    display: flex;
    height: 10rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: bisque;
}

.logo-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.links-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright-information {
    display: flex;
    justify-content: center;
    align-items: center;
}